table {  
  width: 100%;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  border-collapse: 
  collapse; border-spacing: 0; 
}

td, th {  
  border: 1px solid transparent;
  height: 30px; 
  transition: all 0.3s; 
}

th {  
  background: #DFDFDF; 
  font-weight: bold;
}

td {  
  background: #FAFAFA;
  text-align: center;
}

tr:nth-child(even) td { background: #F1F1F1; }   

tr:nth-child(odd) td { background: #FEFEFE; } 
 
.highlight {
  background-color:#cbe7ff!important;
  color: black;
}



