<div style="margin-top: 30px;">
    <h5>{{ClassName}}</h5>  
    <table style="overflow-y: visible">
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Age</th>
                <th>GPA</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i = index; let item of dataSource">
                <td [ngStyle]="{'color':(item.gpa | number : '1.2-2') >3.2 ? 'red' : 'black' }">{{item.studentName}}</td>
                <td >{{item.age}}</td>
                <td>{{item.gpa | number : '1.2-2'}}</td>
                <td >
                    <button mat-button (click)="Edit(item)">Edit</button>
                    <button mat-button (click)="Delete(item)">Delete</button>

                </td>
            </tr>
        </tbody>
    </table>
    <button color="primary" mat-button (click)="Add()">Add New Student</button>

  </div>