<h2 *ngIf="IsNew" mat-dialog-title> New Class</h2>
<h2 *ngIf="!IsNew" mat-dialog-title>Edit Class</h2>

<mat-dialog-content>
  <div [formGroup]="form">

    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Class Name" formControlName="className">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Location" formControlName="location">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Teacher Name" formControlName="teacher">
      </mat-form-field>

    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()">Close</button>
  <button mat-button (click)="save()" [disabled]="!form.valid">Save</button>
</mat-dialog-actions>