
#wrapper {
	width: 980px;
	margin: 0 auto;
}

#header_wrapper {
	width: 100%;
	background: #999;
}

#header {
	clear: both;
	width: 960px;
	height: 200px;
	margin: 0 auto;
	padding: 0 10px;
	background: url(/assets/images/header.jpg);
}

#header p {
	clear: both;
	padding-left: 50px;
	width: 500px;
	font-size: 18px;
	font-style: italic;
	line-height: 26px;
}

#header #site_title {
	float: left;
	padding-top: 10px;
	margin-left: 50px;
	margin-bottom: 10px;	
	width: 280px;
	height: 100px;
	text-align: center;	
	overflow: hidden;	
}
.container{
	margin:0 auto;
	width:960px;
	overflow:hidden;
}
